sources/geometry/fedshapes_cbf_20221003/CBF_RO1952_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1966_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1976_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1996_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO2013_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1882_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1905_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1914_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1987_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1999_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1872_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1933_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1947_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1924_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO2003_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1867_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1892_CSRS.shp filter=lfs diff=lfs merge=lfs -text
sources/geometry/fedshapes_cbf_20221003/CBF_RO1903_CSRS.shp filter=lfs diff=lfs merge=lfs -text
